@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font: 'Open Sans';
  --blue-light: #83a598;
  --blue-medium: #458588;
  --blue-hard: #076678;
  --red-light: #fb4934;
  --red-medium: #cc241d;
  --red-hard: #9d0006;
  --green-light: #b8bb26;
  --green-medium: #98971a;
  --green-hard: #79740e;
  --orange-light: #fabd2f;
  --orange-medium: #d79921;
  --orange-hard: #b57614;
  --purple-light: #d3869b;
  --purple-medium: #b16286;
  --purple-hard: #8f3f71;
  --aqua-light: #8ec07c;
  --aqua-medium: #689d6a;
  --aqua-hard: #427b58;
  --dark-light: #3c3836;
  --dark-medium: #282828;
  --dark-hard: #1d2021;
  --gray-light: #7c6f6a;
  --gray-medium: #665c54;
  --gray-hard: #504945;
  --bg0: #f9f5d7;
  --light-light: #fbf1c7;
  --light-medium: #ebdbb2;
  --light-hard: #d5c4a1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg0);
  color: var(--dark-light);
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}
/*****************************************************************************************
                                        Contenedores
*****************************************************************************************/
.contenedor {
  width: 98%;
  margin: 12px auto;
}
/*****************************************************************************************
                                        Grid
*****************************************************************************************/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
.grid > * {
  overflow: hidden;
}
/*****************************************************************************************
                                        Default
*****************************************************************************************/
.col-1 {
  grid-template-columns: repeat(1, 1fr);
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.col-8 {
  grid-template-columns: repeat(8, 1fr);
}
.col-9 {
  grid-template-columns: repeat(9, 1fr);
}
.col-10 {
  grid-template-columns: repeat(10, 1fr);
}
.col-11 {
  grid-template-columns: repeat(11, 1fr);
}
.col-12 {
  grid-template-columns: repeat(12, 1fr);
}
.span-1 {
  grid-column: span 1;
}
.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}
.span-4 {
  grid-column: span 4;
}
.span-5 {
  grid-column: span 5;
}
.span-6 {
  grid-column: span 6;
}
.span-7 {
  grid-column: span 7;
}
.span-8 {
  grid-column: span 8;
}
.span-9 {
  grid-column: span 9;
}
.span-10 {
  grid-column: span 10;
}
.span-11 {
  grid-column: span 11;
}
.span-12 {
  grid-column: span 12;
}
/*****************************************************************************************
                                Media query <= 992px
*****************************************************************************************/
@media screen and (min-width: 992px) {
  .col-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .co-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .span-lg-1 {
    grid-column: span 1;
  }
  .span-lg-2 {
    grid-column: span 2;
  }
  .span-lg-3 {
    grid-column: span 3;
  }
  .span-lg-4 {
    grid-column: span 4;
  }
  .span-lg-5 {
    grid-column: span 5;
  }
  .span-lg-6 {
    grid-column: span 6;
  }
  .span-lg-7 {
    grid-column: span 7;
  }
  .span-lg-8 {
    grid-column: span 8;
  }
  .span-lg-9 {
    grid-column: span 9;
  }
  .span-lg-10 {
    grid-column: span 10;
  }
  .span-lg-11 {
    grid-column: span 11;
  }
  .span-lg-12 {
    grid-column: span 12;
  }
}
/*****************************************************************************************
                                Media query <= 768px 
*****************************************************************************************/
@media screen and (min-width: 800px) {
  .caja {
    padding: 8px !important;
    font-size: 11px !important;
  }
  .card {
    font-size: 12px !important;
  }
  .dropdown-content {
    max-width: 130px;
  }
  .col-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .span-md-1 {
    grid-column: span 1;
  }
  .span-md-2 {
    grid-column: span 2;
  }
  .span-md-3 {
    grid-column: span 3;
  }
  .span-md-4 {
    grid-column: span 4;
  }
  .span-md-5 {
    grid-column: span 5;
  }
  .span-md-6 {
    grid-column: span 6;
  }
  .span-md-7 {
    grid-column: span 7;
  }
  .span-md-8 {
    grid-column: span 8;
  }
  .span-md-9 {
    grid-column: span 9;
  }
  .span-md-10 {
    grid-column: span 10;
  }
  .span-md-11 {
    grid-column: span 11;
  }
  .span-md-12 {
    grid-column: span 12;
  }
  nav {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px !important;
  }
}
/*****************************************************************************************
                                Media query <= 576px
*****************************************************************************************/
@media screen and (max-width: 700px) {
  .col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .span-sm-1 {
    grid-column: span 1;
  }
  .span-sm-2 {
    grid-column: span 2;
  }
  .span-sm-3 {
    grid-column: span 3;
  }
  .span-sm-4 {
    grid-column: span 4;
  }
  .span-sm-5 {
    grid-column: span 5;
  }
  .span-sm-6 {
    grid-column: span 6;
  }
  .span-sm-7 {
    grid-column: span 7;
  }
  .span-sm-8 {
    grid-column: span 8;
  }
  .span-sm-9 {
    grid-column: span 9;
  }
  .span-sm-10 {
    grid-column: span 10;
  }
  .span-sm-11 {
    grid-column: span 11;
  }
  .span-sm-12 {
    grid-column: span 12;
  }
  .check-menu {
    display: block !important;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(124,111,106,0.95);
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.6s;
  }
  nav ul li {
    display: block !important;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 14px !important;
  }
  nav ul li a:hover,
  nav ul li a.active-aqua {
    background: var(--dark-medium);
  }
  #check:checked ~ ul {
    left: 0;
  }
  .img-peli {
    width: 10% !important;
    margin: 0 auto;
  }
}
/*****************************************************************************************
                                        Componentes
*****************************************************************************************/
/***************************
            Nav
***************************/
nav {
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  background: var(--dark-medium);
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  color: var(--light-medium);
  font-size: 18px;
  padding: 25px 15px;
  border-radius: 1.5px;
  text-transform: uppercase;
}
li a {
  text-decoration: none;
}
li a:hover,
li a.active-aqua {
  background: var(--gray-hard);
}
#check {
  display: none;
}
.inicio {
  position: absolute;
  padding: 20px 50px;
}
.logo {
  height: 40px;
}
.check-menu {
  font-size: 30px;
  color: var(--light-light);
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/***************************
            Linea
***************************/
.linea {
  width: 100%;
  padding: 5px;
  background: var(--danger);
  border-radius: 3px;
  box-shadow: 2px 2px 10px #ddd;
  color: var(--light);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px rgba(124,111,106,0.3);
}
/***************************
            Card
***************************/
.card {
  width: 100%;
  padding: 15px;
  background: var(--light-light);
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(40,40,40,0.3);
}
/***************************
            Caja
***************************/
.caja {
  width: 100%;
  padding: 15px;
  background: var(--blue-light);
  font-size: 14px;
  font-weight: bold;
}
/***************************
            Btn
***************************/
.dropbtn,
.btn {
  width: 100%;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  transition: 0.3s ease all;
}
.dropbtn-blue,
.btn-blue {
  background: var(--blue-light);
  border: 2px solid var(--blue-light);
}
.dropbtn-blue:hover,
.btn-blue:hover {
  background: var(--blue-hard);
  border: 2px solid var(--blue-medium);
  color: var(--blue-light);
}
.dropbtn-blue-medium,
.btn-blue-medium {
  background: var(--blue-medium);
  border: 2px solid var(--blue-medium);
}
.dropbtn-blue-medium:hover,
.btn-blue-medium:hover {
  background: var(--blue-hard);
  border: 2px solid var(--blue-light);
  color: var(--blue-light);
}
.dropbtn-blue-hard,
.btn-blue-hard {
  background: var(--blue-hard);
  border: 2px solid var(--blue-hard);
}
.dropbtn-blue-hard:hover,
.btn-blue-hard:hover {
  background: var(--blue-medium);
  border: 2px solid var(--blue-light);
  color: var(--blue-hard);
}
.dropbtn-red,
.btn-red {
  background: var(--red-medium);
  border: 2px solid var(--red-light);
}
.dropbtn-red:hover,
.btn-red:hover {
  background: var(--red-hard);
  border: 2px solid var(--red-medium);
  color: var(--red-light);
}
.dropbtn-red-medium,
.btn-red-medium {
  background: var(--red-medium);
  border: 2px solid var(--red-medium);
}
.dropbtn-red-medium:hover,
.btn-red-medium:hover {
  background: var(--red-hard);
  border: 2px solid var(--red-medium);
  color: var(--red-light);
}
.dropbtn-red-hard,
.btn-red-hard {
  background: var(--red-hard);
  border: 2px solid var(--red-hard);
}
.dropbtn-red-hard:hover,
.btn-red-hard:hover {
  background: var(--red-medium);
  border: 2px solid var(--red-light);
  color: var(--red-light);
}
.dropbtn-green,
.btn-green {
  background: var(--green-medium);
  border: 2px solid var(--green-light);
}
.dropbtn-green:hover,
.btn-green:hover {
  background: var(--green-hard);
  border: 2px solid var(--green-medium);
  color: var(--green-light);
}
.dropbtn-green-medium,
.btn-green-medium {
  background: var(--green-medium);
  border: 2px solid var(--green-medium);
}
.dropbtn-green-medium:hover,
.btn-green-medium:hover {
  background: var(--green-hard);
  border: 2px solid var(--green-medium);
  color: var(--green-light);
}
.dropbtn-green-hard,
.btn-green-hard {
  background: var(--green-hard);
  border: 2px solid var(--green-hard);
}
.dropbtn-green-hard:hover,
.btn-green-hard:hover {
  background: var(--green-medium);
  border: 2px solid var(--green-light);
  color: var(--green-hard);
}
.dropbtn-orange,
.btn-orange {
  background: var(--orange-medium);
  border: 2px solid var(--orange-light);
}
.dropbtn-orange:hover,
.btn-orange:hover {
  background: var(--orange-hard);
  border: 2px solid var(--orange-medium);
  color: var(--orange-light);
}
.dropbtn-orange-medium,
.btn-orange-medium {
  background: var(--orange-medium);
  border: 2px solid var(--orange-medium);
}
.dropbtn-orange-medium:hover,
.btn-orange-medium:hover {
  background: var(--orange-hard);
  border: 2px solid var(--orange-medium);
  color: var(--orange-light);
}
.dropbtn-orange-hard,
.btn-orange-hard {
  background: var(--orange-hard);
  border: 2px solid var(--orange-hard);
}
.dropbtn-orange-hard:hover,
.btn-orange-hard:hover {
  background: var(--orange-medium);
  border: 2px solid var(--orange-light);
  color: var(--orange-hard);
}
.dropbtn-purple,
.btn-purple {
  background: var(--purple-medium);
  border: 2px solid var(--purple-light);
}
.dropbtn-purple:hover,
.btn-purple:hover {
  background: var(--purple-hard);
  border: 2px solid var(--purple-medium);
  color: var(--purple-light);
}
.dropbtn-purple-medium,
.btn-purple-medium {
  background: var(--purple-medium);
  border: 2px solid var(--purple-medium);
}
.dropbtn-purple-medium:hover,
.btn-purple-medium:hover {
  background: var(--purple-hard);
  border: 2px solid var(--purple-light);
  color: var(--purple-light);
}
.dropbtn-purple-hard,
.btn-purple-hard {
  background: var(--purple-hard);
  border: 2px solid var(--purple-hard);
}
.dropbtn-purple-hard:hover,
.btn-purple-hard:hover {
  background: var(--purple-medium);
  border: 2px solid var(--purple-light);
  color: var(--purple-hard);
}
.dropbtn-aqua,
.btn-aqua {
  background: var(--aqua-medium);
  border: 2px solid var(--aqua-light);
}
.dropbtn-aqua:hover,
.btn-aqua:hover {
  background: var(--aqua-hard);
  border: 2px solid var(--aqua-medium);
  color: var(--aqua-light);
}
.dropbtn-aqua-medium,
.btn-aqua-medium {
  background: var(--aqua-medium);
  border: 2px solid var(--aqua-medium);
}
.dropbtn-aqua-medium:hover,
.btn-aqua-medium:hover {
  background: var(--aqua-hard);
  border: 2px solid var(--aqua-light);
  color: var(--aqua-light);
}
.dropbtn-aqua-hard,
.btn-aqua-hard {
  background: var(--aqua-hard);
  border: 2px solid var(--aqua-hard);
}
.dropbtn-aqua-hard:hover,
.btn-aqua-hard:hover {
  background: var(--aqua-medium);
  border: 2px solid var(--aqua-light);
  color: var(--aqua-hard);
}
.dropbtn-dark,
.btn-dark {
  background: var(--dark-medium);
  border: 2px solid var(--dark-light);
}
.dropbtn-dark:hover,
.btn-dark:hover {
  background: var(--dark-hard);
  border: 2px solid var(--gray-medium);
  color: var(--gray-light);
}
.dropbtn-dark-medium,
.btn-dark-medium {
  background: var(--dark-medium);
  border: 2px solid var(--dark-medium);
}
.dropbtn-dark-medium:hover,
.btn-dark-medium:hover {
  background: var(--dark-hard);
  border: 2px solid var(--dark-light);
  color: var(--dark-light);
}
.dropbtn-dark-hard,
.btn-dark-hard {
  background: var(--dark-hard);
  border: 2px solid var(--dark-hard);
}
.dropbtn-dark-hard:hover,
.btn-dark-hard:hover {
  background: var(--dark-medium);
  border: 2px solid var(--dark-light);
  color: var(--dark-hard);
}
.dropbtn-light,
.btn-light {
  background: var(--light-medium);
  border: 2px solid var(--light-light);
}
.dropbtn-light:hover,
.btn-light:hover {
  background: var(--light-hard);
  border: 2px solid var(--gray-medium);
  color: var(--gray-medium);
}
.dropbtn-light-medium,
.btn-light-medium {
  background: var(--light-medium);
  border: 2px solid var(--light-medium);
}
.dropbtn-light-medium:hover,
.btn-light-medium:hover {
  background: var(--light-hard);
  border: 2px solid var(--light-light);
  color: var(--light-light);
}
.dropbtn-light-hard,
.btn-light-hard {
  background: var(--light-hard);
  border: 2px solid var(--light-hard);
}
.dropbtn-light-hard:hover,
.btn-light-hard:hover {
  background: var(--light-medium);
  border: 2px solid var(--light-light);
  color: var(--light-hard);
}
.dropbtn-gray,
.btn-gray {
  background: var(--gray-medium);
  border: 2px solid var(--gray-light);
}
.dropbtn-gray:hover,
.btn-gray:hover {
  background: var(--gray-hard);
  border: 2px solid var(--dark-medium);
  color: var(--gray-light);
}
.dropbtn-gray-medium,
.btn-gray-medium {
  background: var(--gray-medium);
  border: 2px solid var(--gray-medium);
}
.dropbtn-gray-medium:hover,
.btn-gray-medium:hover {
  background: var(--gray-hard);
  border: 2px solid var(--gray-light);
  color: var(--gray-light);
}
.dropbtn-gray-hard,
.btn-gray-hard {
  background: var(--gray-hard);
  border: 2px solid var(--gray-hard);
}
.dropbtn-gray-hard:hover,
.btn-gray-hard:hover {
  background: var(--gray-medium);
  border: 2px solid var(--gray-light);
  color: var(--gray-hard);
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown-content {
  background: var(--light-light);
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 40px;
  width: 150px;
  box-shadow: 2px 2px 10px rgba(124,111,106,0.3);
}
.dropdown-content > * {
  float: none;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: var(--dark);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.drop-blue a:hover {
  background: var(--blue-hard);
  border: 2px solid var(--blue-medium);
  color: var(--blue-light);
}
.drop-red a:hover {
  background: var(--red-hard);
  border: 2px solid var(--red-medium);
  color: var(--red-light);
}
.drop-green a:hover {
  background: var(--green-hard);
  border: 2px solid var(--green-medium);
  color: var(--green-light);
}
.drop-orange a:hover {
  background: var(--orange-hard);
  border: 2px solid var(--orange-medium);
  color: var(--orange-light);
}
.drop-purple a:hover {
  background: var(--purple-hard);
  border: 2px solid var(--purple-medium);
  color: var(--purple-light);
}
.drop-aqua a:hover {
  background: var(--aqua-hard);
  border: 2px solid var(--aqua-medium);
  color: var(--aqua-light);
}
.drop-dark a:hover {
  background: var(--dark-hard);
  border: 2px solid var(--gray-medium);
  color: var(--gray-light);
}
.drop-light a:hover {
  background: var(--light-hard);
  border: 2px solid var(--gray-medium);
  color: var(--gray-medium);
}
.drop-gray a:hover {
  background: var(--gray-hard);
  border: 2px solid var(--dark-medium);
  color: var(--gray-light);
}
/***************************
            Linea
***************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(102,92,84,0.9);
}
.modal-content {
  background: var(--light-light);
  border-radius: 4px;
  margin: auto;
  width: 70%;
  box-shadow: 2px 2px 10px rgba(40,40,40,0.6);
}
.modal-content > p {
  padding: 20px;
  margin: 15px;
  justify-content: justify;
}
.modal-title {
  background: var(--aqua-hard);
  padding: 20px !important;
  width: 100% !important;
}
.close {
  margin-top: -15px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: var(--red-medium);
  text-decoration: none;
}
/*****************************************************************************************
                                        Helpers
******************************************************************************************/
.margin-top-5 {
  margin: 5px !important;
}
/***************************
            Backgound
***************************/
.bg-blue-light {
  background: var(--blue-light);
}
.bg-blue-medium {
  background: var(--blue-medium);
}
.bg-blue-hard {
  background: var(--blue-hard);
}
.bg-red-light {
  background: var(--red-light);
}
.bg-red-medium {
  background: var(--red-medium);
}
.bg-red-hard {
  background: var(--red-hard);
}
.bg-green-light {
  background: var(--green-light);
}
.bg-green-medium {
  background: var(--green-medium);
}
.bg-green-hard {
  background: var(--green-hard);
}
.bg-orange-light {
  background: var(--orange-light);
}
.bg-orange-medium {
  background: var(--orange-medium);
}
.bg-orange-hard {
  background: var(--orange-hard);
}
.bg-purple-light {
  background: var(--purple-light);
}
.bg-purple-medium {
  background: var(--purple-medium);
}
.bg-purple-hard {
  background: var(--purple-hard);
}
.bg-aqua-light {
  background: var(--aqua-light);
}
.bg-aqua-medium {
  background: var(--aqua-medium);
}
.bg-aqua-hard {
  background: var(--aqua-hard);
}
.bg-dark-light {
  background: var(--dark-light);
}
.bg-dark-medium {
  background: var(--dark-medium);
}
.bg-dark-hard {
  background: var(--dark-hard);
}
.bg-light {
  background: var(--light-light);
}
.bg-light-medium {
  background: var(--light-medium);
}
.bg-light-hard {
  background: var(--light-hard);
}
.bg-gray-light {
  background: var(--gray-light);
}
.bg-gray-medium {
  background: var(--gray-medium);
}
.bg-gray-hard {
  background: var(--gray-hard);
}
.bg-none {
  background: none !important;
  box-shadow: none !important;
}
/***************************
            Text color
***************************/
.text-blue-light {
  color: var(--blue-light);
}
.text-blue-medium {
  color: var(--blue-medium);
}
.text-blue-hard {
  color: var(--blue-hard);
}
.text-red-light {
  color: var(--red-light);
}
.text-red-medium {
  color: var(--red-medium);
}
.text-red-hard {
  color: var(--red-hard);
}
.text-green-light {
  color: var(--green-light);
}
.text-green-medium {
  color: var(--green-medium);
}
.text-green-hard {
  color: var(--green-hard);
}
.text-orange-light {
  color: var(--orange-light);
}
.text-orange-medium {
  color: var(--orange-medium);
}
.text-orange-hard {
  color: var(--orange-hard);
}
.text-purple-light {
  color: var(--purple-light);
}
.text-purple-medium {
  color: var(--purple-medium);
}
.text-purple-hard {
  color: var(--purple-hard);
}
.text-aqua-light {
  color: var(--aqua-light);
}
.text-aqua-medium {
  color: var(--aqua-medium);
}
.text-aqua-hard {
  color: var(--aqua-hard);
}
.text-dark-light {
  color: var(--dark-light);
}
.text-dark-medium {
  color: var(--dark-medium);
}
.text-dark-hard {
  color: var(--dark-hard);
}
.text-light {
  color: var(--light-light) !important;
}
.text-light-medium {
  color: var(--light-medium);
}
.text-light-hard {
  color: var(--light-hard);
}
.text-gray-light {
  color: var(--gray-light);
}
.text-gray-medium {
  color: var(--gray-medium);
}
.text-gray-hard {
  color: var(--gray-hard);
}
.text-bold {
  font-weight: bold;
}
/***************************
            Margins
***************************/
.margin-left {
  margin-left: 15px;
}
.margin-right {
  margin-right: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-top {
  margin-top: 15px;
}
.margin-top-lg {
  margin-top: 95px;
}
/***************************
            Interlineado
***************************/
.inter-3 {
  line-height: 3px !important;
}
.inter-4 {
  line-height: 4px !important;
}
.inter-5 {
  line-height: 4px !important;
}
.inter-lg {
  line-height: 20px !important;
}
/***************************
            HR
***************************/
hr {
  border: none;
  height: 20px;
  width: 98%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid var(--gray-medium);
  box-shadow: 0 10px 10px -15px #333;
  margin: -50px auto 10px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid rgba(0,153,204,0.5) !important;
  transition: 0.35s linear !important;
  margin-bottom: 20px;
}
.form-input:active,
.form-input:focus {
  border: none !important;
  outline: none !important;
  transition: 0.35s linear !important;
  border-bottom: 2px solid rgba(0,153,204,0.3) !important;
  box-shadow: 2px 2px 4px 1px rgba(0,153,204,0.2);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-peli {
  width: 50% !important;
  margin: 0 auto;
}
/*****************************************************************************************
                                        Tipografías
*****************************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
.display-1 {
  font-weight: 700 !important;
  font-size: 64px !important;
}
.display-2 {
  font-weight: 700 !important;
  font-size: 54px !important;
}
.display-3 {
  font-weight: 700 !important;
  font-size: 44px !important;
}
.upper-case {
  text-transform: uppercase;
}
