@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')
:root
    --font: 'Open Sans'
    --blue-light:#83a598 //rgb(131, 165, 152)
    --blue-medium:#458588 //rgb(69, 133, 136)
    --blue-hard:#076678 //rgb(7, 102, 120)
    --red-light:#fb4934 //rgb(251, 73, 52)
    --red-medium:#cc241d //rgb(204, 36, 29)
    --red-hard:rgb(157, 0, 6) //rgb(157, 0, 6)
    --green-light:#b8bb26 //rgb(184, 187, 38)
    --green-medium:#98971a //rgb(152, 151, 26)
    --green-hard:#79740e //rgb(121, 116, 14)
    --orange-light:#fabd2f //rgb(250, 189, 47)
    --orange-medium:#d79921//rgb(215, 153, 33)
    --orange-hard:#b57614 //rgb(181, 118, 20)
    --purple-light: #d3869b //rgb(211, 134, 155)
    --purple-medium: #b16286 //rgb(177, 98, 134)
    --purple-hard: rgb(143, 63, 113) //rgb(143, 63, 113)
    --aqua-light: #8ec07c //rgb(142, 192, 124)
    --aqua-medium: rgb(104, 157, 106) //rgb(104, 157, 106)
    --aqua-hard: #427b58 //rgb(66, 123, 88)
    --dark-light: #3c3836 //rgb(60, 56, 54)
    --dark-medium: #282828 //rgb(40, 40, 40)
    --dark-hard: #1d2021 //rgb(29, 32, 33)
    --gray-light: #7c6f6a //rgb(124, 111, 106)
    --gray-medium: #665c54 //rgb(102, 92, 84)
    --gray-hard: #504945 //rgb(80, 73, 69)
    --light-light: #fbf1c7 //rgb(251, 241, 199)
    --light-medium: #ebdbb2 //rgb(235, 219, 178)
    --light-hard: #d5c4a1 //rgb(213, 196, 161)
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    background: var(--light-medium)
    color: var( --dark-light)
    font-family: "Work Sans", sans-serif
    font-size: 14px
/*****************************************************************************************
                                        Contenedores
*****************************************************************************************/
.contenedor
    width: 98%
    margin: 12px auto
/*****************************************************************************************
                                        Grid
*****************************************************************************************/
.grid
    display: grid
    grid-template-columns: repeat(12,1fr)
    gap: 10px
    & > *
        overflow: hidden
/*****************************************************************************************
                                        Default
*****************************************************************************************/
.col-1
    grid-template-columns: repeat(1,1fr)
.col-2
    grid-template-columns: repeat(2,1fr)
.col-3
    grid-template-columns: repeat(3,1fr)
.col-4
    grid-template-columns: repeat(4,1fr)
.col-5
    grid-template-columns: repeat(5,1fr)
.col-6
    grid-template-columns: repeat(6,1fr)
.col-7
    grid-template-columns: repeat(7,1fr)
.col-8
    grid-template-columns: repeat(8,1fr)
.col-9
    grid-template-columns: repeat(9,1fr)
.col-10
    grid-template-columns: repeat(10,1fr)
.col-11
    grid-template-columns: repeat(11,1fr)
.col-12
    grid-template-columns: repeat(12,1fr)
.span-1
    grid-column: span 1
.span-2
    grid-column: span 2
.span-3
    grid-column: span 3
.span-4
    grid-column: span 4
.span-5
    grid-column: span 5
.span-6
    grid-column: span 6
.span-7
    grid-column: span 7
.span-8
    grid-column: span 8
.span-9
    grid-column: span 9
.span-10
    grid-column: span 10
.span-11
    grid-column: span 11
.span-12
    grid-column: span 12
/*****************************************************************************************
                                Media query <= 992px
*****************************************************************************************/
@media screen and (min-width:992px)
/***************************
        Contenedor
***************************/
    .col-lg-1
        grid-template-columns: repeat(1,1fr)
    .col-lg-2
        grid-template-columns: repeat(2,1fr)
    .col-lg-3
        grid-template-columns: repeat(3,1fr)
    .co-lg-4
        grid-template-columns: repeat(4,1fr)
    .col-lg-5
        grid-template-columns: repeat(5,1fr)
    .col-lg-6
        grid-template-columns: repeat(6,1fr)
    .col-lg-7
        grid-template-columns: repeat(7,1fr)
    .col-lg-8
        grid-template-columns: repeat(8,1fr)
    .col-lg-9
        grid-template-columns: repeat(9,1fr)
    .col-lg-10
        grid-template-columns: repeat(10,1fr)
    .col-lg-11
        grid-template-columns: repeat(11,1fr)
    .col-lg-12
        grid-template-columns: repeat(12,1fr)
    .span-lg-1
        grid-column: span 1
    .span-lg-2
        grid-column: span 2
    .span-lg-3
        grid-column: span 3
    .span-lg-4
        grid-column: span 4
    .span-lg-5
        grid-column: span 5
    .span-lg-6
        grid-column: span 6
    .span-lg-7
        grid-column: span 7
    .span-lg-8
        grid-column: span 8
    .span-lg-9
        grid-column: span 9
    .span-lg-10
        grid-column: span 10
    .span-lg-11
        grid-column: span 11
    .span-lg-12
        grid-column: span 12

/*****************************************************************************************
                                Media query <= 768px 
*****************************************************************************************/
@media screen and (min-width:800px)
    .caja
        padding 8px !important
        font-size: 11px !important
    .card
        font-size: 12px !important
    .dropdown 
        &-content
            max-width: 130px
    .col-md-1
        grid-template-columns: repeat(1,1fr)
    .col-md-2
        grid-template-columns: repeat(2,1fr)
    .col-md-3
        grid-template-columns: repeat(3,1fr)
    .col-md-4
        grid-template-columns: repeat(4,1fr)
    .col-md-5
        grid-template-columns: repeat(5,1fr)
    .col-md-6
        grid-template-columns: repeat(6,1fr)
    .col-md-7
        grid-template-columns: repeat(7,1fr)
    .col-md-8
        grid-template-columns: repeat(8,1fr)
    .col-md-9
        grid-template-columns: repeat(9,1fr)
    .col-md-10
        grid-template-columns: repeat(10,1fr)
    .col-md-11
        grid-template-columns: repeat(11,1fr)
    .col-md-12
        grid-template-columns: repeat(12,1fr)
    .span-md-1
        grid-column: span 1
    .span-md-2
        grid-column: span 2
    .span-md-3
        grid-column: span 3
    .span-md-4
        grid-column: span 4
    .span-md-5
        grid-column: span 5
    .span-md-6
        grid-column: span 6
    .span-md-7
        grid-column: span 7
    .span-md-8
        grid-column: span 8
    .span-md-9
        grid-column: span 9
    .span-md-10
        grid-column: span 10
    .span-md-11
        grid-column: span 11
    .span-md-12
        grid-column: span 12
    nav
        padding-left: 20px
        & ul 
            & li 
                & a 
                    font-size: 16px !important
/*****************************************************************************************
                                Media query <= 576px
*****************************************************************************************/
@media screen and (max-width:700px)
    .col-sm-1
        grid-template-columns: repeat(1,1fr)
    .col-sm-2
        grid-template-columns: repeat(2,1fr)
    .col-sm-3
        grid-template-columns: repeat(3,1fr)
    .col-sm-4
        grid-template-columns: repeat(4,1fr)
    .col-sm-5
        grid-template-columns: repeat(5,1fr)
    .col-sm-6
        grid-template-columns: repeat(6,1fr)
    .col-sm-7
        grid-template-columns: repeat(7,1fr)
    .col-sm-8
        grid-template-columns: repeat(8,1fr)
    .col-sm-9
        grid-template-columns: repeat(9,1fr)
    .col-sm-10
        grid-template-columns: repeat(10,1fr)
    .col-sm-11
        grid-template-columns: repeat(11,1fr)
    .col-sm-12
        grid-template-columns: repeat(12,1fr)
    .span-sm-1
        grid-column: span 1
    .span-sm-2
        grid-column: span 2
    .span-sm-3
        grid-column: span 3
    .span-sm-4
        grid-column: span 4
    .span-sm-5
        grid-column: span 5
    .span-sm-6
        grid-column: span 6
    .span-sm-7
        grid-column: span 7
    .span-sm-8
        grid-column: span 8
    .span-sm-9
        grid-column: span 9
    .span-sm-10
        grid-column: span 10
    .span-sm-11
        grid-column: span 11
    .span-sm-12
        grid-column: span 12
    .check-menu
        display block !important
    ul 
        position: fixed
        width 100%
        height 100vh
        background: rgba(66,123,88,0.95)
        top 80px
        left: 100%
        text-align: center
        transition: all 0.6s
    nav
        & ul 
            & li 
                display: block !important
                line-height: 30px
                & a 
                    font-size: 14px !important
                    &:hover
                    &.active-aqua
                        background:var(--aqua-medium)  
    #check:checked ~ ul
        left: 0     
/*****************************************************************************************
                                        Componentes
*****************************************************************************************/
/***************************
            Nav
***************************/
nav
    top 0
    position: fixed
    height: 80px
    width 100%
    background: var(--aqua-hard)
    & ul
        float: right 
        margin-right: 20px
        & li
            display inline
            line-height: 80px
            margin 0 15px
            & a 
                color:var(--light-medium)
                font-size: 18px
                padding: 25px 15px
                border-radius: 1.5px
                text-transform: uppercase
li
    & a
        &:hover
        &.active-aqua
            background:var(--aqua-medium)          

#check
    display: none
.inicio
    position: absolute
    padding: 20px 50px
.logo
    height: 40px
.check-menu
    font-size: 30px
    color var(--light-light)
    float: right
    line-height: 80px
    margin-right: 20px
    cursor pointer
    display: none
#check
    display: non

/***************************
            Linea
***************************/
.linea
    width 100%
    padding: 5px
    background: var(--danger)
    border-radius: 3px
    box-shadow: 2px 2px 10px rgb(221,221,221,0.3)
    color: var(--light)
    display: flex
    flex-wrap: wrap
    box-shadow: 2px 2px 10px rgba(124, 111, 106,0.3)
/***************************
            Card
***************************/
.card
    width 100%
    padding: 15px
    background: var(--light-light)
    border-radius: 3px
    box-shadow: 2px 2px 10px rgba(124, 111, 106,0.3)
/***************************
            Caja
***************************/
.caja
    width 100%
    padding: 15px
    background: var(--blue-light)
    font-size: 14px
    font-weight: bold
/***************************
            Btn
***************************/
.dropbtn, .btn 
    width 100%
    cursor: pointer
    color: #fff 
    padding: 10px
    transition: .3s ease all
    &-blue
        background: var(--blue-light)
        border: 2px solid var(--blue-light)
        &:hover
            background: var(--blue-hard)
            border: 2px solid var(--blue-medium)
            color: var(--blue-light)
    &-red
        background: var(--red-medium)
        border: 2px solid var(--red-light)
        &:hover
            background: var(--red-hard)
            border: 2px solid var(--red-medium)
            color: var(--red-light)
    &-green
        background: var(--green-medium)
        border: 2px solid var(--green-light)
        &:hover
            background: var(--green-hard)
            border: 2px solid var(--green-medium)
            color: var(--green-light)
    &-orange
        background: var(--orange-medium)
        border: 2px solid var(--orange-light)
        &:hover
            background: var(--orange-hard)
            border: 2px solid var(--orange-medium)
            color: var(--orange-light)
    &-purple
        background: var(--purple-medium)
        border: 2px solid var(--purple-light)
        &:hover
            background: var(--purple-hard)
            border: 2px solid var(--purple-medium)
            color: var(--purple-light)
    &-aqua
        background: var(--aqua-medium)
        border: 2px solid var(--aqua-light)
        &:hover
            background: var(--aqua-hard)
            border: 2px solid var(--aqua-medium)
            color: var(--aqua-light)
    &-dark
        background: var(--dark-medium)
        border: 2px solid var(--dark-light)
        &:hover
            background: var(--dark-hard)
            border: 2px solid var(--gray-medium)
            color: var(--gray-light)
    &-light
        background: var(--light-medium)
        border: 2px solid var(--light-light)
        &:hover
            background: var(--light-hard)
            border: 2px solid var(--gray-medium)
            color: var(--gray-medium)
    &-gray
        background: var(--gray-medium)
        border: 2px solid var(--gray-light)
        &:hover
            background: var(--gray-hard)
            border: 2px solid var(--dark-medium)
            color: var(--gray-light)
.dropdown 
    float: left;
    overflow: hidden;
    &-content
        background: var(--light-light)
        display: none
        position: absolute
        z-index 1
        margin-top: 40px
        width 150px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        & > * 
            float: none
            padding: 12px 16px
            display: block
            text-decoration: none
            color: var(--dark)
    &:hover .dropdown-content
        display: block
.drop 
    &-blue
        & a:hover
            background: var(--blue-hard)
            border: 2px solid var(--blue-medium)
            color: var(--blue-light)
    &-red
        & a:hover
            background: var(--red-hard)
            border: 2px solid var(--red-medium)
            color: var(--red-light)
    &-green
        & a:hover
            background: var(--green-hard)
            border: 2px solid var(--green-medium)
            color: var(--green-light)
    &-orange
        & a:hover
            background: var(--orange-hard)
            border: 2px solid var(--orange-medium)
            color: var(--orange-light)
    &-purple
        & a:hover
            background: var(--purple-hard)
            border: 2px solid var(--purple-medium)
            color: var(--purple-light)
    &-aqua
        & a:hover
            background: var(--aqua-hard)
            border: 2px solid var(--aqua-medium)
            color: var(--aqua-light)
    &-dark
        & a:hover
            background: var(--dark-hard)
            border: 2px solid var(--gray-medium)
            color: var(--gray-light)
    &-light
        & a:hover
            background: var(--light-hard)
            border: 2px solid var(--gray-medium)
            color: var(--gray-medium)
    &-gray
        & a:hover
            background: var(--gray-hard)
            border: 2px solid var(--dark-medium)
            color: var(--gray-light)
/*****************************************************************************************
                                        Helpers
******************************************************************************************/
/***************************
            Backgound
***************************/
.bg
    &-blue
        &-light
            background: var(--blue-light)
        &-medium
            background: var(--blue-medium)
        &-hard
            background: var(--blue-hard)
    &-red
        &-light
            background: var(--red-light)
        &-medium
            background: var(--red-medium)
        &-hard
            background: var(--red-hard)
    &-green
        &-light
            background: var(--green-light)
        &-medium
            background: var(--green-medium)
        &-hard
            background: var(--green-hard)
    &-orange
        &-light
            background: var(--orange-light)
        &-medium
            background: var(--orange-medium)
        &-hard
            background: var(--orange-hard)
    &-purple
        &-light
            background: var(--purple-light)
        &-medium
            background: var(--purple-medium)
        &-hard
            background: var(--purple-hard)
    &-aqua
        &-light
            background: var(--aqua-light)
        &-medium
            background: var(--aqua-medium)
        &-hard
            background: var(--aqua-hard)
    &-dark
        &-light
            background: var(--dark-light)
        &-medium
            background: var(--dark-medium)
        &-hard
            background: var(--dark-hard)
    &-light
        background: var(--light-light)
        &-medium
            background: var(--light-medium)
        &-hard
            background: var(--light-hard)
    &-gray
        &-light
            background: var(--gray-light)
        &-medium
            background: var(--gray-medium)
        &-hard
            background: var(--gray-hard)
/***************************
            Text color
***************************/
.text
    &-blue
        &-light
            color: var(--blue-light)
        &-medium
            color: var(--blue-medium)
        &-hard
            color: var(--blue-hard)
    &-red
        &-light
            color: var(--red-light)
        &-medium
            color: var(--red-medium)
        &-hard
            color: var(--red-hard)
    &-green
        &-light
            color: var(--green-light)
        &-medium
            color: var(--green-medium)
        &-hard
            color: var(--green-hard)
    &-orange
        &-light
            color: var(--orange-light)
        &-medium
            color: var(--orange-medium)
        &-hard
            color: var(--orange-hard)
    &-purple
        &-light
            color: var(--purple-light)
        &-medium
            color: var(--purple-medium)
        &-hard
            color: var(--purple-hard)
    &-aqua
        &-light
            color: var(--aqua-light)
        &-medium
            color: var(--aqua-medium)
        &-hard
            color: var(--aqua-hard)
    &-dark
        &-light
            color: var(--dark-light)
        &-medium
            color: var(--dark-medium)
        &-hard
            color: var(--dark-hard)
    &-light
        color: var(--light-light) !important
        &-medium
            color: var(--light-medium)
        &-hard
            color: var(--light-hard)
    &-gray
        &-light
            color: var(--gray-light)
        &-medium
            color: var(--gray-medium)
        &-hard
            color: var(--gray-hard)
    &-bold
        font-weight: bold
/***************************
            Margins
***************************/
.margin
    &-left
        margin-left: 15px
    &-right
        margin-right: 15px
    &-bottom
        margin-bottom: 15px
    &-top 
        margin-top: 15px
    &-top-lg
        margin-top: 95px
/***************************
            Interlineado
***************************/
.inter-3
    line-height: 3px !important
.inter-4
    line-height: 4px !important
.inter-5
    line-height: 4px !important
.inter-lg
    line-height: 20px !important
/***************************
            HR
***************************/
hr 
    border:none
    height: 20px
    width: 98%
    height: 50px
    margin-top: 0
    border-bottom: 1px solid var(--gray-light)
    box-shadow: 0 10px 10px -15px #333
    margin: -50px auto 10px 