@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font: 'Open Sans';
  --blue-light: #83a598;
  --blue-medium: #458588;
  --blue-hard: #076678;
  --red-light: #fb4934;
  --red-medium: #cc241d;
  --red-hard: #9d0006;
  --green-light: #b8bb26;
  --green-medium: #98971a;
  --green-hard: #79740e;
  --orange-light: #fabd2f;
  --orange-medium: #d79921;
  --orange-hard: #b57614;
  --purple-light: #d3869b;
  --purple-medium: #b16286;
  --purple-hard: #8f3f71;
  --aqua-light: #8ec07c;
  --aqua-medium: #689d6a;
  --aqua-hard: #427b58;
  --dark-light: #3c3836;
  --dark-medium: #282828;
  --dark-hard: #1d2021;
  --gray-light: #7c6f6a;
  --gray-medium: #665c54;
  --gray-hard: #504945;
  --light-light: #fbf1c7;
  --light-medium: #ebdbb2;
  --light-hard: #d5c4a1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--light-light);
  color: var(--dark-light);
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}
